node_modules
dist
dist-ssr
*.local

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite/TS build cache
node_modules/.vite
node_modules/.tmp
*.tsbuildinfo
